@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "tippy.js/dist/tippy.css";

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-gray: #828282;
  --text-color: rgba(22, 24, 35, 1);
  --default-layout-width: 1150px;
  --default-layout-padding: 24px;
  --default-sidebar-width: 356px;
  --fluid-sidebar-width: 240px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
button,
input,
[tabindex] {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}
span {
  line-height: 0;
}
.text-pink {
  color: var(--primary);
}
// custome tippy tooltip
body {
  .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    border-radius: 8px;
    padding: 3px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
